extends ../layout

block content 
    a(href='/bicicletas') Volver 

    br
    br
    br

    h1 Actualizar bicicleta 

    br
    br
    
    form(action=`/bicicletas/${bici.id}/update` method='post')
        label(for="id") ID:
        input#ID(type="text" name='id' value=bici.id)
        br
        label(for="color") Color:
        input#ID(type="text" name='color' value=bici.color)
        br
        label(for="modelo") Modelo:
        input#ID(type="text" name='modelo' value=bici.modelo)
        br
        label(for="lat") Latitud:
        input#ID(type="text" name='lat' value=bici.ubicacion[0])
        br
        label(for="lng") Longitud:
        input#ID(type="text" name='lng' value=bici.ubicacion[1])
        br
        br
        input(type="submit", value="OK")